.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.top-content {
  background: url(./components/home-components/images/main.jpg) ;
}

/* SOCIAL MEDIA SECTION */
.social-container {
  background-color: beige;
  padding: 3% 5%;
  
}

.sc {
  padding: 0 5%;
  transition:transform 400ms; /* Transition is used to determine a change within the icons. In this case, we want the icons to move up when we hover over them
   - transform will determine HOW FAST will the icon move UP in MILLISECONDS */
  display: inline-block; /* We are setting it up to INLINE BLOCK in order to allow "translate" property to woek on inline elements
    - By default, "translate property on line 62 does not work on inline elements"
  */
}

/* This will create a hover effect when we scroll the mouse over the SM icon 
  "translateY(-2px)" will send the icon UP when we hover over it
*/
.sc:hover {
  transform: translateY(10px);
}

.instagram {
  color: black;
}
.twitter {
  color: #49a1eb;
}
.youtube {
  color: #eb3223;
}
