@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+Infant&display=swap');





/* GENERAL STYLES */
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Cormorant Infant', serif;
}

a {
  text-decoration: none;
  color: #272727;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

p, form {
  font-family: 'Cormorant Garamond', serif;
}

img {
  max-width: 100%;
  height: auto;
}



.App {
  text-align: center;
  background-color: #DCD4CC;
}

/* TOP content */

.top-content {
  background-image: url(components/images/main.jpg);
  height: 990px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title{
  padding: 12% 0 0 33%;
}

.para {
    font-style: italic;
    font-size: 11rem;
    font-weight: normal;
}

.photo {
    font-size: 6rem;
    font-weight: 100;
}

/* ABOUT */

.about {
  width: 100%;
  margin: 9% 0;
  background-color:#FCF4E4;
  padding-bottom: 5%;
}

.about p {
    font-size: 2.5rem;
    width: 41%;
    text-align: center;
    margin-left: 33%;
    padding: 4%;
    font-style: italic;
}

/* PHOTO SECTIONS */

.photo-sections{
  display: flex;
  margin: 12% 6% 13%;
}

.photo-sections div h2 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 3%;
}

.portrait img {
  width: 96%;
  height: 30rem;
}

/* SOCIAL MEDIA SECTION */
.social-container {
  background-color: beige;
  padding: 3% 5%;
}

.social-container h3 {
    font-size: 2.5rem;
    padding-bottom: 2%;
}

.social-container a {
  padding: 0 5%;
  transition:transform 400ms; /* Transition is used to determine a change within the icons. In this case, we want the icons to move up when we hover over them
   - transform will determine HOW FAST will the icon move UP in MILLISECONDS */
  display: inline-block; /* We are setting it up to INLINE BLOCK in order to allow "translate" property to woek on inline elements
    - By default, "translate property on line 62 does not work on inline elements"
  */
}

/* This will create a hover effect when we scroll the mouse over the SM icon 
  "translateY(-2px)" will send the icon UP when we hover over it
*/
.social-container a:hover {
  transform: translateY(10px);
}

.instagram {
  color: black;
}
.twitter {
  color: #49a1eb;
}
.youtube {
  color: #eb3223;
}




/* GALLERY PAGE */


 .images img{
  width: 31%;
  height: 34rem;
  padding-bottom: .5%;
  padding-right: .5%;
}


/*Lightbox modal Styles */

.fslightbox-container {
  background: linear-gradient(rgba(30,30,30,.9),#000 0%);
}

.fslightbox-slide-btn  {
  border-radius: 50%;
  padding: 19px;
}

.fslightbox-source-inner img {
  display: inline !important;
}


/*NATURE SECTION*/
.nature-title, .gallery-title, .portrait-title, .world-title {
    padding-bottom: 2%;
    font-size: 5rem;
    font-weight: 100;
    font-style: italic;
}



/* NEWSLETTER SECTION  */

.newsletter-container {
  padding: 10.4%;
}
.newsletter-title h1 {
    font-size: 5rem;
    font-weight: normal;
    padding-bottom: 5%;
}
.newsletter-title h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 2rem;
  margin-top: 6%;
}

label {
  margin-bottom: 2px;
  text-align: left;
  width: 29%;
}

input {
  width: 100%;
  padding: 3%;
  margin: 4% 0px;
  box-sizing: border-box;
  border: 1px solid #987C6B;
  border-radius: 4px;
}

button {
  background: #DCC4A9;
  border: 1px solid #A48B74;
  padding: .5% 6%;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: #A48B74;
}
button:active {
  background: #DCC4A9;
          box-shadow: inset 0px 0px 5px #A48B74;
   outline: none;
}

.error {
    font-size: 1.5rem;
    color: red;
    padding-bottom: 8%;
}


/* ABOUT ME */

.about-container {
  padding: 8.2%;
}
.about-container h1{
    padding: 3% 0;
    font-size: 3rem;
}
.message img {
    width: 19.4%;
    border-radius: 50%;
    margin-bottom: 3%;
}
.message h2 {
  font-size: 3rem;
}
.message p {
    font-size: 2rem;
    padding-top: 2%;
}


/* MEDIA QUERY FOR LARGE MONITORS */

/* Mobile Query */


@media (max-width: 1920px){
  .images img {
    width: 27%;
  }
  .newsletter-container {
    padding: 7.8%;
}
.about-container {
  padding: 4.3%;
  width: 100%;
 }
 
}

@media (max-width: 540px) {
  a {
    font-size: 2.5rem;
  }
  .hIlcsT {
    width: 8%;
    margin: 3% 3% 6% 8%;
}
  .eNhIZx {
    width: 100%;
  }
  .top-content {
    height: 68rem;
    background-attachment: fixed;
    background-size: 100% 80%;
  }
  .title {
    padding: 54% 0;
  }
  .para {
    font-size: 3rem;
   }
   .photo {
    font-size: 2rem;
   }
   .about p {
    font-size: 2rem;
    width: 69%;
    margin-left: 17%;
    padding: 9%;
   }
   .photo-sections {
     flex-direction: column;
   }
   .nature-title {
    margin-top: 269rem;
   }
   .gallery-title{
    margin-top: 915rem;
   }
   .portrait-title {
    margin-top: 94rem;
   }
   .world-title {
    margin-top: 536rem;
   }
   .images img{
    width: 93%;
   }
   .about-container {
     padding: 16.8%;
   }
   .message img {
    width: 61.4%;
   }
   .newsletter-title {
     padding-top: 44%;
   }
   .newsletter-title h1 {
     font-size: 4rem;
   }
   .newsletter-title h3 {
    font-size: 2rem;
  }
  label {
    width: 64%;
  }
}








