@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+Infant&display=swap');





/* GENERAL STYLES */
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Cormorant Infant', serif;
}

a {
  text-decoration: none;
  color: #272727;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: 'Cormorant Garamond', serif;
}

img {
  max-width: 100%;
  height: auto;
}



.App {
  text-align: center;
  background-color: #DCD4CC;
}

/* TOP content */

.top-content {
  background-image: url(components/images/main.jpg);
  height: 990px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  padding: 12% 0 0 33%;
}

.para {
    font-style: italic;
    font-size: 11rem;
    font-weight: normal;
}

.photo {
    font-size: 6rem;
    font-weight: 100;
}

/* ABOUT */

.about {
  width: 100%;
  margin: 9% 0;
  background-color:#FCF4E4;
  padding-bottom: 5%;
}

.about p {
    font-size: 2.5rem;
    width: 41%;
    text-align: center;
    margin-left: 33%;
    padding: 4%;
    font-style: italic;
}

/* PHOTO SECTIONS */

.photo-sections{
  display: flex;
  margin: 12% 6% 13%;
}

.photo-sections div h2 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 3%;
}

.urban img {
  width: 83%;
  height: 78%;
}

/* SOCIAL MEDIA SECTION */
.social-container {
  background-color: beige;
  padding: 3% 5%;
}

.social-container h3 {
    font-size: 2.5rem;
    padding-bottom: 2%;
}

.social-container a {
  padding: 0 5%;
  transition:transform 400ms; /* Transition is used to determine a change within the icons. In this case, we want the icons to move up when we hover over them
   - transform will determine HOW FAST will the icon move UP in MILLISECONDS */
  display: inline-block; /* We are setting it up to INLINE BLOCK in order to allow "translate" property to woek on inline elements
    - By default, "translate property on line 62 does not work on inline elements"
  */
}

/* This will create a hover effect when we scroll the mouse over the SM icon 
  "translateY(-2px)" will send the icon UP when we hover over it
*/
.social-container a:hover {
  transform: translateY(10px);
}

.instagram {
  color: black;
}
.twitter {
  color: #49a1eb;
}
.youtube {
  color: #eb3223;
}




/* GALLERY PAGE */


 .images img{
  width: 30%;
  height: 34rem;
  padding-bottom: .5%;
  padding-right: .5%;
}


/*Lightbox modal Styles */

.fslightbox-container {
  background: linear-gradient(rgba(30,30,30,.9),#000 0%);
}

.fslightbox-slide-btn  {
  border-radius: 50%;
  padding: 19px;
}

.fslightbox-source-inner img {
  display: inline !important;
}






